<div class="text-center">
  <h2>Sign Up for our Newsletter7</h2>

	<div>
		<form name='SignUpForm' novalidate>

			<table>

			<tr>
				<th><p><span class="details">First Name:</span></p></th>
				<th><input type="text" name="first" placeholder="Enter your First Name" ng-model="$ctrl.user.first" required><span class="signUpError" ng-if="SignUpForm.first.$error.required && SignUpForm.first.$touched">Please enter your first name.</span></p></th>
			</tr>
			<tr>
				<th><p><span class="details">Last Name:</span></p></th>
				<th><input type="text" name="last" placeholder="Enter your Last Name" ng-model="$ctrl.user.last" required><span class="signUpError" ng-if="SignUpForm.last.$error.required && SignUpForm.last.$touched">Please enter your last name.</span></p></th>
			</tr>
			<tr>
				<th><p><span class="details">Email Address:</span></p></th>
				<th><input email="text" name="email" placeholder="email@domainname" ng-model="$ctrl.user.email" required><span class="signUpError" ng-if="SignUpForm.email.$invalid && SignUpForm.email.$touched">Please enter a valid email address.</span></p></th>
			</tr>
			<tr>
				<th><p><span class="details">Phone Number:</span></p></th>
				<th><input type="text" name="phone" placeholder="###-###-####" ng-model="$ctrl.user.phone" pattern="(\d{3})-(\d{3})-(\d{4})"><span class="signUpError" ng-if="SignUpForm.phone.$invalid && SignUpForm.phone.$touched">Please enter a valid phone number.</span></p></th>
			</tr>
			<tr>
				<th></th>
			</tr>
			<tr>
				<th><p><span>What is your favourite dish?</span></p></th>
				<th><input type="text" ng-model="$ctrl.user.favItem" min-length=12><span class="signUpError">{{SignUpCtrl.InvalidMsg}}</span></th>
			</tr>
			</table>
			<p><button ng-disabled="SignUpForm.$invalid" ng-click="SignUpCtrl.getFav($ctrl.user);">Submit</button></p>

			<p class="myMsg">{{SignUpCtrl.successMsg}}</p>


		</form>
	</div>
</div>