<div>
  <h2 class="text-center">My Information2</h2>

	<div>
		<table ng-if="InfoCtrl.Registered">

			<tr>
				<th><p><span class="details">First Name:</span></p></th>
				<th>{{InfoCtrl.UserInfo.first}}</span></p></th>
			</tr>
			<tr>
				<th><p><span class="details">Last Name:</span></p></th>
				<th>{{InfoCtrl.UserInfo.last}}</th>
			</tr>
			<tr>
				<th><p><span class="details">Email Address:</span></p></th>
				<th>{{InfoCtrl.UserInfo.email}}</th>
			</tr>
			<tr>
				<th><p><span class="details">Phone Number:</span></p></th>
				<th>{{InfoCtrl.UserInfo.phone}}</th>
			</tr>
		</table>

		<div ng-if="InfoCtrl.Registered">
			<p>My favourite dish is: {{InfoCtrl.foundItem.short_name}} - {{InfoCtrl.foundItem.name}}</p>
				

			<img class="img-responsive" width="250" height="150" ng-src="{{InfoCtrl.basePath}}/images/{{InfoCtrl.foundItem.short_name}}.jpg" alt="{{InfoCtrl.foundItem.name}}">
		</div>

		<p class="myMsg" ng-if="!(InfoCtrl.Registered)">Not Signed Up Yet. <a ui-sref="public.signup">Sign up Now!</a></p>

	</div>
</div>