<div>
  <h2 class="text-center">My Information9</h2>

	<div>
		<table ng-if="InfoCtrl.Registered">

			<tr>
				<th><p><span class="details">First Name:</span></p></th>
				<th>{{InfoCtrl.UserInfo.first}}</span></p></th>
			</tr>
			<tr>
				<th><p><span class="details">Last Name:</span></p></th>
				<th>{{InfoCtrl.UserInfo.last}}</th>
			</tr>
			<tr>
				<th><p><span class="details">Email Address:</span></p></th>
				<th>{{InfoCtrl.UserInfo.email}}</th>
			</tr>
			<tr>
				<th><p><span class="details">Phone Number:</span></p></th>
				<th>{{InfoCtrl.UserInfo.phone}}</th>
			</tr>
			<tr>
				<th><p><span>My favourite dish is:</span></p></th>
				<th>1.{{InfoCtrl.foundItem.short_name}} - {{InfoCtrl.foundItem.name}}</span>
			</tr>
		</table>

		<img ng-if="InfoCtrl.Registered" class="img-responsive" width="250" height="150" ng-src="{{$ctrl.basePath}}/images/{{$ctrl.foundItem.short_name}}.jpg" alt="{{$ctrl.foundItem.name}}">

			<p class="myMsg" ng-if="!(InfoCtrl.Registered)">Not Signed Up Yet. <a ui-sref="public.signup">Sign up Now!</a></p>
	</div>
</div>